.center-card {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .github-logo img {
    width: 80px;  /* Adjust the logo size */
    height: auto;
  }