.container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .raw-data {
    margin-top: 20px;
  
    h2 {
      margin-bottom: 20px;
    }

  
    ag-grid-angular {
      margin-top: 10px;
    }
  }
  
  .controls {
    display: flex;
    gap: 16px; /* Add spacing between the dropdowns */
  }
  .github-logo {
    width: 80px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
  }